<!-- <div class="container-weather"> -->

<!-- <h5>Child componant 2</h5> -->

<!-- <div class="col-lg-10 mx-auto mt-5 text-center" id="container-weather"> -->


<div class="weather-location">
    <!-- récupération du nom de la ville par l'api gouv et non par l'api weather -->
    <h2 *ngIf="weatherData.cityName && weatherData.country">📍{{ cityDataSecondChild.cityName }}, {{ weatherData.country }}</h2>
</div>


<div class="container-weather">

    <div class="weather-icon">
        <!-- Utilisation d'une condition pour afficher l'icône météo et la température uniquement si les données sont disponibles -->
        <img *ngIf="weatherData.icon" src="http://openweathermap.org/img/w/{{ weatherData.icon }}.png"
            alt="weather-icon" id="weather-icon">
    </div>

    <div class="weather-temperature">
        <h1 *ngIf="weatherData.temperature">{{ weatherData.temperature }} °</h1>
        <h6>{{ weatherData.weather }}</h6>
    </div>

</div>

<!-- </div> -->

<!-- </div> -->